body {
    /* 初始化页面 */
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    font-size: 16px;
}

/* 顶部导航栏 */
.top-bar {
    height: 40px;
    color: #b0b0b0;
    font-size: 12px;
    background: #333333;
}
.top-bar a {
    text-decoration: none; /* 去除下划线 */
    color: #b0b0b0;
    line-height: 40px; /* 垂直居中 */
    display: inline-block;
}
.left-message-bar .spe, .right-login-bar .spe{
    margin: 0 .3em;
    color: #424242;
}
.topbar-box {
    margin-left: auto;
    margin-right: auto;
    width: 1220px;
}
.left-message-bar{
    float: left;
}
.right-login-bar {
    float: right;
}
.icon-shoppingCart {
    display: inline-block; /* 内联块,设置之后才能与上面的 div 出现在同一行 */
}
#move {
    margin-right: 18px;
}
.shoppingcart {
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #b0b0b0;
    background: #424242;
    padding: 0 20px;
}